body{
    background-color: rgb(255, 221, 176);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
}

header{
    background-color: rgb(236, 200, 152);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 0);
}

header h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
header a{
    text-decoration: none;
}

nav{
    margin-top: 10px;
    margin-left: 5%;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: rgb(0, 0, 0);
    margin-right: 5em;
    transition: 0.2s;
}

nav a:hover{
    color: rgb(255, 255, 255);
    transition: 0.2s;
}
h3{
    margin: 20px;
}
h2{
    margin: 20px;
    margin-top: 50px;
    font-size: 30px;
}
h1{
    margin-left: 20px;
    font-size: 50px;
}
p{
    margin-left: 20px;
    font-size: 25px;
}
.cacetinhos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4%;
}
.categorias{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4%;
}
.categorias .card{
    border: solid 3px rgb(224, 152, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    transition: 0.2s;

}

#paos{
    background-image: url(categopão.jfif);
}
#bolos{
    background-image: url(bolos.jpg);
}
#salg{
    background-image: url(salgados.jpg);
}

.categorias .card:hover{
    transform: scale(105%);
    transition: 0.2s ;
}
.card{
    background-color: rgb(255, 255, 255, 0.8);
    width: 350px;
    height: 350px;
    border-radius: 20px;

}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    transition:0.2s;
}
.texto h1{
    margin: 0px;
}
.texto p{
    font-size: 20px;
    margin: 0px;
    margin-top: 20px;
}
.texto img{
    max-height: 150px;
    max-width: 150px;
}
.botao{
    background-color: rgb(255, 183, 89);
    padding: 10px;
    border: 0px;
    size: 5px;
    transition: 0.2s;
    border-radius: 5px;
    margin-left: 40px;
}

.botao:hover{
    background-color: rgb(207, 148, 71);
    transition: 0.2s;
}

footer{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 199, 125);
    margin-top: 10.5%;
    padding: 15px;
}
.teste{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.form{
    display: flex;
    margin-top: 20px;
    background-color: rgb(255, 255, 255,.75);
    border-radius: 10px;
    height: 520px;
    width: 520px;
    padding: 50px;
    flex-direction: column;
}
label{
    font-weight: bolder;
    font-size: 20px;
}
input[type="email"],
textarea{
    display: block;
    border-radius: 5px;
    height: 5%;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 1px 2px rgb(0,0,0,.3);
}
input[type="email"]:focus,
textarea:focus{
    outline-color: rgb(0,0,0,.3);
}
textarea{
    height: 75%;
}
button[type="submit"]{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 30%;
    height:10%;
    border: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 199, 125);
}
button[type="submit"]:hover{
    background-color: rgb(255, 183, 89);
}
#fusionreborn{
    font-size: 5px;
    color: rgb(255, 221, 176);
    margin-bottom: 26.5%;
}